<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yourname.backen.mapper.TrainNumberDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yourname.backen.entity.TrainNumberDetail">
        <id column="id" property="id" />
        <result column="train_number_id" property="trainNumberId" />
        <result column="from_station_id" property="fromStationId" />
        <result column="from_city_id" property="fromCityId" />
        <result column="to_station_id" property="toStationId" />
        <result column="to_city_id" property="toCityId" />
        <result column="station_index" property="stationIndex" />
        <result column="relative_time" property="relativeTime" />
        <result column="wait_time" property="waitTime" />
        <result column="money" property="money" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, train_number_id, from_station_id, from_city_id, to_station_id, to_city_id, station_index, relative_time,
        wait_time, money
    </sql>
    <insert id="insertSelective">
        insert into train_number_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="trainNumberId != null">train_number_id,</if>
            <if test="fromStationId != null">from_station_id,</if>
            <if test="fromCityId != null">from_city_id,</if>
            <if test="toStationId != null">to_station_id,</if>
            <if test="toCityId != null">to_city_id,</if>
            <if test="stationIndex != null">station_index,</if>
            <if test="relativeTime != null">relative_time,</if>
            <if test="waitTime != null">wait_time,</if>
            <if test="money != null">money,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=NUMERIC},</if>
            <if test="trainNumberId != null">#{trainNumberId,jdbcType=NUMERIC},</if>
            <if test="fromStationId != null">#{fromStationId,jdbcType=NUMERIC},</if>
            <if test="fromCityId != null">#{fromCityId,jdbcType=NUMERIC},</if>
            <if test="toStationId != null">#{toStationId,jdbcType=NUMERIC},</if>
            <if test="toCityId != null">#{toCityId,jdbcType=NUMERIC},</if>
            <if test="stationIndex != null">#{stationIndex,jdbcType=NUMERIC},</if>
            <if test="relativeTime != null">#{relativeTime,jdbcType=NUMERIC},</if>
            <if test="waitTime != null">#{waitTime,jdbcType=NUMERIC},</if>
            <if test="money != null">#{money,jdbcType=VARCHAR},</if>
        </trim>
    </insert>

    <select id="selectAllByTrainNumberIdOrderByStationIndex" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from train_number_detail
        where
        train_number_id = #{trainNumberId,jdbcType=NUMERIC}
        order by station_index asc
    </select>

</mapper>
