<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yourname.common.mapper.TrainSeatMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yourname.common.entity.TrainSeat">
        <id column="id" property="id" />
        <result column="ticket" property="ticket" />
        <result column="user_id" property="userId" />
        <result column="traveller_id" property="travellerId" />
        <result column="train_number_id" property="trainNumberId" />
        <result column="carriage_number" property="carriageNumber" />
        <result column="row_number" property="rowNumber" />
        <result column="seat_number" property="seatNumber" />
        <result column="seat_level" property="seatLevel" />
        <result column="train_start" property="trainStart" />
        <result column="train_end" property="trainEnd" />
        <result column="money" property="money" />
        <result column="show_number" property="showNumber" />
        <result column="status" property="status" />
        <result column="from_station_id" property="fromStationId" />
        <result column="to_station_id" property="toStationId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ticket, user_id, traveller_id, train_number_id, carriage_number, row_number, seat_number, seat_level, train_start, train_end, money, show_number, status, from_station_id, to_station_id
    </sql>

</mapper>
